body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000913;
    color: #D0A85C;

    
}

.upper {
    margin: 5%;
    max-width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 600%;
    font-family: "Beaufort for LOL", serif;
    letter-spacing: 3px;
    line-height: 0.9;
}

.sideInfo{
    max-width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 100%;
    font-family: "Spiegel", "Arial Narrow", Arial, sans-serif;
    margin: 7.14286% 7.14286% 3.57143%;
    font-size: 0.875rem;
    line-height: 1.6;
    color: whitesmoke;
    font-weight: bolder;
}

.me {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 5px 0px;
    font-size: 0.75rem;
    color: rgb(134, 134, 134);
}

#chart{
    height: 100%;
}

.table{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 25%;
    border-width: 10px;
    border-spacing: 10px; 
    padding-bottom: 25%;
    border-color: #242c36;
    /* border: 1px solid #242c36; */
    border-collapse: collapse;
    max-width: 100%;
    max-height: 100%;
}

th, td {
    padding: 1.5% 
}

.table-container {
    background-color: #fff;
    position: relative;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.main-content {
    padding: 2rem;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#water-border {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  
  #water-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 50%, white 50%);
    background-size: 100% 200%; /* Initial gradient position */
    transition: background-position 2s ease; /* Transition for background-position property */
  }
  
  #water-border.active::before {
    background-position: 0 100%; /* Move the gradient to simulate filling effect */
  }